configs:
  - id: slack-bot
    config:
      name: slack-bot
      parameters:
        slack_connection_token:
          name: SLACK_TOKEN
          type: environment
        slack_channel_id:
          name: SLACK_CHANNEL
          type: environment
      template: slack-bot.json
      skip: false
    type:
      settings:
        schema: app:dynatrace.slack:connection
        scope: environment
