# third-party-service
CREDIT_CARD_ORDER_SERVICE_ADDRESS=http://credit-card-order-service:8080
COURIER_DELAY=10
COURIER_RATE=10
MANUFACTURE_DELAY=10
MANUFACTURE_RATE=10

# aggregator-service
OFFER_SERVICE_ADDRESS=http://aggregator-service:8080