# third-party-service
CREDIT_CARD_ORDER_SERVICE_ADDRESS=http://credit-card-order-service:8080
COURIER_DELAY=10
COURIER_RATE=10
MANUFACTURE_DELAY=10
MANUFACTURE_RATE=10
MANUFACTURE_DELAY_CHANCE_PERCENT=20

# aggregator-service
OFFER_SERVICE_ADDRESS=http://offerservice:8080

# problem-operator
SYNC_INTERVAL=5s
FEATURE_FLAG_SERVICE_ADDRESS=http://feature-flag-service:8080

# contentcreator
DB_ADAPTER_SERVICE_ADDRESS=db-adapter:50051