# thirdparty
CREDIT_CARD_ORDER_SERVICE_ADDRESS=http://credit-card-order-service:8080
THIRD_PARTY_DELAY=10
THIRD_PARTY_RATE=10
DELAY_CHANCE_PERCENT=20

# aggregator 
OFFER_SERVICE_ADDRESS=http://offer-service:8080

# operator
SYNC_INTERVAL=5s
FEATURE_FLAG_SERVICE_ADDRESS=http://feature-flag-service:8080

# contentcreator
DB_ADAPTER_ADDRESS=db-adapter:50051