name: Build and push
on:
  pull_request:
    branches:
      - "main"
    paths:
      - src/**
  push:
    branches:
      - "main"
    paths:
      - src/**
  workflow_dispatch:

  workflow_call:
    secrets:
      GAR_CREDENTIALS:
        required: true
      KUBECONFIG:
        required: true
      OQR_CLIENT_ID:
        required: true
      OQR_CLIENT_SECRET:
        required: true
      OQR_URL:
        required: true
      SNYK_API_TOKEN:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSO_URL:
        required: true

env:
  GAR_ADDRESS: europe-docker.pkg.dev
  NAMESPACE: easytrade
  CONTAINER_REGISTRY: ghcr.io/ArctiqDynatraceDemo/easytrade
  HELM_REGISTRY: oci://ghcr.io/ArctiqDynatraceDemo/easytrade/helm
  HELM_CHART_PATH: helm/easytrade

jobs:
  snyk:
    uses: ./.github/workflows/reusable-snyk.yaml
    permissions:
      security-events: write
      contents: read
      actions: read
    secrets:
      SNYK_API_TOKEN: ${{ secrets.SNYK_API_TOKEN }}

  calc-version:
    uses: ./.github/workflows/reusable-calc-version.yaml

  build-push-easytrade:
    if: needs.calc-version.outputs.already-released == 'false'
    runs-on: ubuntu-24.04
    needs: calc-version
    outputs:
      artifact-dir: ${{ steps.build-and-push.outputs.artifact-dir }}
      artifact-name: ${{ steps.build-and-push.outputs.artifact-name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push easytrade to docker repository
        id: build-and-push
        uses: ./.github/actions/build-push-images
        with:
          push: true
          push-latest: ${{ needs.calc-version.outputs.is-release }}
          tag: ${{ github.sha }}
          registry: ${{ env.CONTAINER_REGISTRY }}
          artifact-name: docker-compose
          artifact-dir: ./build-artifacts/
