name: Build easytrade on main
on:
  push:
    branches:
      - "main"
    paths:
      - .github/**
      - kubernetes-manifests/**
      - skaffold.yaml
      - src/**
      - helm/**
  workflow_dispatch:
    inputs:
      run-tests:
        description: "Run integration tests after deployment?"
        required: false
        type: boolean
        default: true

  workflow_call:
    secrets:
      GAR_CREDENTIALS:
        required: true
      KUBECONFIG:
        required: true
      OQR_CLIENT_ID:
        required: true
      OQR_CLIENT_SECRET:
        required: true
      OQR_URL:
        required: true
      SNYK_API_TOKEN:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSO_URL:
        required: true

env:
  GAR_ADDRESS: europe-docker.pkg.dev
  NAMESPACE: easytrade
  CONTAINER_REGISTRY: europe-docker.pkg.dev/dynatrace-demoability/docker/easytrade
  HELM_REGISTRY: oci://europe-docker.pkg.dev/dynatrace-demoability/helm
  HELM_CHART_PATH: helm/easytrade

jobs:
  snyk:
    uses: ./.github/workflows/snyk.yaml
    permissions:
      security-events: write
      contents: read
      actions: read
    secrets:
      SNYK_API_TOKEN: ${{ secrets.SNYK_API_TOKEN }}

  calc-version:
    uses: ./.github/workflows/calc-version.yaml

  build-easytrade:
    runs-on: ubuntu-24.04
    needs: calc-version
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Retrieve gar credentials
        run: |
          echo "${{ secrets.GAR_CREDENTIALS }}" | docker login -u _json_key_base64 --password-stdin "${{ env.GAR_ADDRESS }}"

      - name: Set application version
        uses: ./.github/actions/set-version
        with:
          version: ${{ needs.calc-version.outputs.version }}

      - name: Build and push easytrade to docker repository
        uses: ./.github/actions/build-push-images
        with:
          push: ${{ needs.calc-version.outputs.is-release }}
          push-latest: true${{ needs.calc-version.outputs.is-release }}
          tag: ${{ needs.calc-version.outputs.version }}
          registry: ${{ env.CONTAINER_REGISTRY }}

      - name: Build and push Helm chart
        uses: ./.github/actions/build-push-helm
        with:
          chart-path: ${{ env.HELM_CHART_PATH }}
          push: ${{ needs.calc-version.outputs.is-release }}
          registry-url: oci://europe-docker.pkg.dev/dynatrace-demoability/helm
          version: ${{ needs.calc-version.outputs.version }}
          credentials: ${{ secrets.GAR_CREDENTIALS }}

  promote:
    if: needs.calc-version.outputs.is-release == 'true'
    needs:
      - calc-version
      - build-easytrade
    permissions:
      contents: write
      actions: write
    uses: ./.github/workflows/promote-release.yaml
    with:
      version: ${{ needs.calc-version.outputs.version }}
      trigger-deploy: true
