name: Calculate Version
on:
  workflow_call:
    inputs:
      release-branch:
        description: 'Branch name that triggers releases'
        required: false
        type: string
        default: 'main'
    outputs:
      version:
        description: 'Calculated semantic version'
        value: ${{ jobs.calc-version.outputs.version }}
      is-release:
        description: 'Whether this is a release build'
        value: ${{ jobs.calc-version.outputs.is-release }}

jobs:
  calc-version:
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
      is-release: ${{ steps.version.outputs.is-release }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Calculate version
        id: version
        uses: dczupryn-dt/ci-cd-templates/.github/actions/calc-version@main
        with:
          release-branch: ${{ inputs.release-branch }}
