on:
  workflow_run:
    workflows: [Build and push]
    types: [completed]
    branches: [main]
  push:
    branches:
      - main
    paths:
      - .release-please-manifest.json

jobs:
  update-image:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Set application version [dev]
        run: |
          cd deployments/dev
          kustomize edit set image 'ghcr.io/arctiqdynatracedemo/easytrade/(.*):${{ github.sha }}'
          cd -
      - name: Set application version [prod]
        if: ${{ github.event_name  == 'push' }}
        run: |
          VERSION=$(cat .release-please-manifest.json | jq --raw-output '.["."]')
          cd deployments/prod
          kustomize edit set image "ghcr.io/arctiqdynatracedemo/easytrade/(.*):$VERSION"
          cd -
